<%= form_for @comment do |f| %>
	<p>
		<%= f.label :name %></br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :body %></br>
		<%= f.text_area :body %>
	</p>
	<%= f.hidden_field :person_id, value: @person.id %>
	<p>
		<%= f.submit %>
	</p>
<% end %>