<h1>Comments</h1>
<% @comments.each do |comment| %>
	<p>
		<%= comment.name %></br>
		<%= comment.body %></br>
		<%= link_to "Show", person_comment_path(comment.person_id, comment.id) %>
		<%= link_to "Edit", edit_person_comment_path(comment.person_id, comment.id) %>
		<%= link_to "Destroy", person_comment_path(comment.person_id, comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
<% end %>
<%= link_to "New Comment", new_person_comment_path %>	
