<% if current_user.person_id == @person.id %>
	<% if @comments.count != 0 %>
	<% @comments.each do |comment| %>
		<p>
			<%= comment.name %></br>
			<%= comment.body %></br>
			<%= comment.approved %></br>
			<%= button_to "Destroy", person_comment_path(comment.person_id, comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
			<%= button_to "Approve", person_comment_approve_path(comment.person_id, comment.id), method: :put %>
		</p>	
	<% end %>
	<% else %>
		<p> No new comments.</br>
			<%= link_to "Back", 'javascript:history.go(-1);' %>
		</p>

	<% end %>
<%end%>
