<h1>Search People</h1>
<%=form_tag people_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search]%>
		<%= submit_tag :search, :as =>"Search" %>
	</p>
<% end %>
<% @people.each do |person| %>
	<p>
		<%= image_tag person.image.url(:thumb) %></br>
		<%= link_to person.name , person %></br>
		<%= person.bio %></br>
	</p>
<% end %>