<div class = "container-fluid " style = "margin-top: 60px;">
	<div class = "row">
		<div class = "col-md-2"></div>
		<div class = "col-md-8" style = "background-color:white;">
			<div class = "row" style = "background-color:#67729C; color:#010A2C; border: 10px solid #303E72; border-radius: 5px;">
				<div class = "col-md-6">
					<%= image_tag @person.image.url(:medium) %>
				</div>
				
				<p>	
					<span style =" font-weight: 900; font-size:40px;">
						<%= @person.name %></br>
					</span>
					<span style = "font-weight:bold; color: white;"> 
						Bio: <%= @person.bio %></br>
					</span>
					
					Link: <%= @person.link%></br>
					
					<% if !current_user.nil? && current_user.person_id == @person.id %>
						<%= link_to 'Edit Profile', edit_person_path(@person) %>
						<%= link_to 'Destroy', @person,  method: :delete, data: { confirm: 'Are you sure?' } %>
						<%= link_to "Approve Comments", approve_the_comments_path(@person) %>
					<% end %>
					
					<%= link_to 'Back', 'javascript:history.go(-1);' %>
				</p>
			</div>
			<% @comments.each do |comment| %>
					<div class = "row" style= "border-top: 3px solid #BCBCBC; border-bottom: 3px solid #BCBCBC;">	
						<span style = "font-weight: bold;">
							<%= comment.name %></br>
						</span>
						<%= comment.body %>
					</div>
				<% end %>
			<div class = "row">
				<p style= "font-weight: bold; font-size: 25px;"> Leave your complement </p>
				<%= render 'comments/form' %>
			</div>
			
</div>
		<div class = "col-md-2"></div>
	</div>
</div>