<!DOCTYPE html>
<html>
  <head>
    <title>Tutorial</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>

  <nav class="navbar navbar-default navbar-fixed-top"  style = "background-color:#010A2C; color:#B0B1B3;">
    <div class="container-fluid">
      <span style = "font-weight:strong; font-size:45px; float:left; text-decoration: none; "> 
        <%= link_to "ThankU   ", home_path, {:style=>'text-decoration: none; color:#B0B1B3;', :class => ""} %>   
      </span>
      <span style= "font-size:15px; float:right">
        <% if current_user %>
          <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
          <%= link_to "Logout", :logout, method: :post %>
        <% else %>
          <%= link_to "Register", new_user_path %> |
          <%= link_to "Login", :login %>
        <% end %>
      </span>
    </div>
  </nav>
  
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  <%= yield %>

  </body>
</html>